<!DOCTYPE html>
<html lang="en">
<head>
        <link href="{{ url_for('.static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
{#        <link href="{{ url_for('.static', filename = 'css/login.css') }}" rel="stylesheet" media="screen">#}
{#        <script src="{{ url_for('.static', filename = 'css/login.js') }}"></script>#}
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="index-main">
    <div class="index-panel input-group">
        <div class="login-title">Watch Time</div>
        <div class="login-container">
{#                        <form class="form-signin" action="/login" method="post">#}
{#                            {{ form.hidden_tag() if form.hidden_tag }}#}
{#                            <div class="glyphicon-warning-sign">#}
{#                                {{ get_flashed_messages()[0] }}#}
{#                            </div>#}
{#                            <div class="form-input">#}
{#                                <input id="username" name="username" class="form-control" type="text" placeholder="Username"#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class="form-input">#}
{#                                <input id="password" name="password" class="form-control" type="password" placeholder="Password"#}
{#                                       required>#}
{#                            </div>#}
{#                            <div class="checkbox">#}
{#                                <label>{{ form.remember_me(class='checkbox') }} Remember Me</label>#}
{#                            </div>#}
{#                            <input type="submit" class="btn btn-primary" value="Sign In"/>#}
{#                            <a class="btn btn-primary">Register</a>#}
{#                        </form>#}
        </div>
    </div>
</div>
</body>
</html>
