<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('.static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('.static', filename = 'assets/css/login.css') }}" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="index-main">
    <div class="index-panel input-group">
        <div class="login-title"><span><b>Time</b>Watcher</span></div>
        <div class="login-container">
            <form class="form-signin" action="/account/login" method="post">
                {{ form.hidden_tag() if form.hidden_tag }}
                <small class="help-block flash-info">
                    {{ get_flashed_messages()[0] }}
                </small>
                <div class="form-input">
                    <input id="login" name="login" class="form-control" type="text" placeholder="用户名"
                           required>
                </div>
                <div class="form-input">
                    <input id="password" name="password" class="form-control" type="password" placeholder="密码"
                           required>
                </div>
                <div class="checkbox">
                    <label>{{ form.remember(class='checkbox') }} 记住我</label>
                </div>
                <input type="submit" class="btn btn-primary" value="登录"/>
                <a href="/account/register" class="btn btn-primary">注册</a>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('.static', filename = 'assets/css/login.js') }}"></script>
</body>
</html>
