<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zovven</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('.static', filename = 'assets/css/home.css') }}" rel="stylesheet">
</head>
<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="/">Z<span class="logo_colour">ovven</span></a></h1>

                <h2>The numbers lead a dance</h2>
            </div>
        </div>
        <div id="menubar">
            {% block nav %}
            {% endblock %}
        </div>
    </div>
    <div id="site_content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <p>Copyright &copy; Zovven </p>
    </div>
    <p>&nbsp;</p>
</div>
</body>
</html>