{% extends 'home/base.html' %}
{% block nav %}
    <ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li class="selected"><a href="/blog">博客</a></li>
        <li><a href="/tags">标签</a></li>
        <li><a href="/album">图册</a></li>
        <li><a href="/about">关于我</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="sidebar_container">

        <div class="sidebar">
            <div class="sidebar_item">
                <h3>目录</h3>

                <div class="toc">
                    {{ post.toc }}
                </div>

            </div>
        </div>
        <div class="sidebar">
            <div class="sidebar_top"></div>
            <div class="sidebar_item">
                <h3>搜索</h3>

                <form method="post" action="#" id="search_form">
                    <p>
                        <input class="search" type="text" name="search_field" placeholder="请输入要查询的内容"/>
                        <button type="submit">搜索</button>
                    </p>
                </form>
            </div>
            <div class="sidebar_base"></div>
        </div>
    </div>
    <div id="content">
        <div class="post-title">
            <h1>{{ post.title }}</h1>

            <div>
                <label>发表于:</label>
                <label class="label-time">{{ post.date_created }}</label>
                <label>标签:</label>
                {% for tag in post.linked_taglist %}
                    <label class="tag"><a href="{{ tag[1] }}">{{ tag[0] }}</a></label>
                {% endfor %}
            </div>
        </div>
        <div class="post-content">
            {{ post.markdown }}
        </div>
    </div>
{% endblock %}