{% extends 'home/base.html' %}
{% block style %}
    <link href="{{ url_for('.static', filename = 'css/github.css') }}" rel="stylesheet">
{% endblock %}
{% block path %}
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">文章</li>
        <li class="active">正文</li>
    </ol>
{% endblock %}

{% block main %}
    <div class="post-content">
        <div class="post-title">
            <h1>{{ post.title }}</h1>
            <span class="label-time">{{ post.date_created }}</span>
            {% for tag in post.linked_taglist %}
                <a href="{{ tag[1] }}" class="link-tag">{{ tag[0] }}</a>
            {% endfor %}
        </div>
        <article>
            {{ post.markdown }}
        </article>
    </div>
{% endblock %}
{% block guide %}
    <div class="guide-box-header">
        目录
    </div>
    <div class="guide-box-toc">
        {{ post.toc }}
    </div>
{% endblock %}

{% block jscript %}
    <script src="{{ url_for('.static', filename = 'js/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}