{% extends 'home/base.html' %}
{% block nav %}
    <ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li><a href="/blog">博客</a></li>
        <li class="selected"><a href="/tags">标签</a></li>
        <li><a href="/album">图册</a></li>
        <li><a href="/about">关于我</a></li>
    </ul>
{% endblock %}
{% block sidebar %}
    <div class="sidebar">
        <div class="sidebar_item">
            <h3>全部标签</h3>
            <div class="tag-list">
                    {% for tag in tags %}
                      <span><a href="/tags/{{ tag.slug }}">{{ tag.name }} ({{ tag.num_posts }})</a></span>
                    {% endfor %}
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
            <h3>Search</h3>

            <form method="post" action="#" id="search_form">
                <p>
                    <input class="search" type="text" name="search_field" placeholder="请输入要查询的内容"/>
                    <button type="submit">搜索</button>
                </p>
            </form>
        </div>
        <div class="sidebar_base"></div>
    </div>
{% endblock %}
{% block content %}
    <h2>标签 : {{ tag.name }}</h2>
    <div class="post-list">
        <div class="item-list">
            <ul class="lists">
                {% for post in page_obj.items %}
                    <li>
                        <time>{{ post.date_created.strftime('%Y-%m-%d') }}</time>
                        <a href="/post/{{ post.id }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="paginator">
            {% if page_obj.has_prev %}
                <a href="/tags/{{ tag.slug }}/{{ page_obj.page - 1 }}">&lt;前页</a>
            {% else %}
                <span class="previous  disabled">&lt;前页</span>
            {% endif %}

            {% for x in range(1,page_obj.pages + 1) %}
                {% if x == page_obj.page %}
                    <span class="current-page">{{ x }}</span>
                {% else %}
                    <a href="/tags/{{ tag.slug }}/{{ x }}">{{ x }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="/tags/{{ tag.slug }}/{{ page_obj.page + 1 }}">后页&gt;</a>
            {% else %}
                <span class="next  disabled">后页&gt;</span>
            {% endif %}

        </div>
    </div>
{% endblock %}