{% extends 'home/base.html' %}
{% block path %}
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">标签</li>
        <li class="active">{{ tag.name }}</li>
    </ol>
{% endblock %}
{% block main %}
    <div class="post-list">
        {% for post in page_obj.items %}
            <a class="post-item" href="/post/{{ post.id }}"><h3>{{ post.title }}</h3>
                <time>{{ post.date_created.strftime('%Y/%m/%d') }}</time>
            </a>
        {% endfor %}
        <div class="paginator">
            <ul class="pagination">
                {% if page_obj.has_prev %}
                    <li><a href="/blog/{{ page_obj.page - 1 }}"> <span>前页</span> </a></li>
                {% else %}
                    <li class="disabled"><a href="#"> <span>前页</span> </a></li>
                {% endif %}

                {% for x in range(1,page_obj.pages + 1) %}
                    {% if x == page_obj.page %}
                        <li class="active"><a href="#">{{ x }}</a></li>
                    {% else %}
                        <li><a href="/blog/{{ x }}">{{ x }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="/blog/{{ page_obj.page + 1 }}"> <span>后页</span> </a></li>
                {% else %}
                    <li class="disabled"><a href="#"> <span>后页</span> </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block guide %}
    <div class="guide-box-header">
        标签
    </div>
    {% for tag in tags %}
        <a class="guide-box-item" href="/tags/{{ tag.slug }}">
            {{ tag.name }}<span class="tag-num">{{ tag.num_posts }}</span>
        </a>
    {% endfor %}
{% endblock %}
