{% extends 'base.html' %}
{% block sidebar %}
    <li class="treeview">
        <a href="/">
            <span>工作面版</span>
        </a>
    </li>
    <li class="active treeview">
        <a href="/project/p/progress">
            <i class="fa fa-dashboard"></i> <span>我的计划</span></i>
        </a>
        <ul class="treeview-menu">
            <li {% if ptype == 'progress' %} class="active" {% endif %} ><a href="/project/p/progress">进行中</a></li>
            <li {% if ptype == 'start' %} class="active"  {% endif %} ><a href="/project/p/start"> 未激活</a></li>
            <li {% if ptype == 'end' %} class="active"  {% endif %}><a href="/project/p/end"> 已完成</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="/project">
            <span>Project</span>
            <span class="label label-primary pull-right">4</span>
        </a>
    </li>
    <li>
        <a href="pages/widgets.html">
            <span>Widgets</span>
            <small class="label pull-right bg-green">new</small>
        </a>
    </li>
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            我的计划
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">我的计划</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">我的计划</h3>

                        <div class="box-tools">
                            <button class="btn btn-default" data-toggle="modal"
                                    data-target="#modal_project_add">
                                新增计划
                            </button>
                            <button class="btn btn-default" onclick="ajaxdata()">
                                xxx
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table id="table_project" class="table table-bordered table-striped">
                            <tr>
                                <th style="width: 7%">优先级</th>
                                <th style="width: 20%">任务名</th>
                                <th style="width: 26%">进度条</th>
                                <th style="width: 10%">进度</th>
                                <th style="width: 20%">截至日期</th>
                                <th style="width: 7%">剩余天数</th>
                                <th style="width: 10%">操作</th>
                            </tr>
                            {% for project in pjs %}
                                <tr>
                                    <td>{{ project.type }}</td>
                                    <td>{{ project.name }}</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-danger"
                                                 style="width: {{ project.p_percent }}%"></div>
                                        </div>
                                    </td>
                                    <td>{{ project.p_now }} / {{ project.p_all }} </td>
                                    <td>{{ project.start_time }} / {{ project.end_time }} </td>
                                    <td>{{ project.remain_days }} </td>
                                    <td>
                                        {% if project.status == 0 %}
                                            <button type="button" class="btn btn-default btn-xs begin"
                                                    proid="{{ project.id }}">
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 激活
                                            </button>

                                        {% endif %}
                                        {% if project.status == 1 %}
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                                    data-target="#modal_project_record"
                                                    data-proid="{{ project.id }}"
                                                    data-remain="{{ project.p_all - project.p_now }}">
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 记录
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- 模态框（Modal） 新增计划 -->
    <div class="modal fade" id="modal_project_add" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增任务
                    </h4>
                </div>
                <form id="form_project_add" action="/project/add" method="post">
                    <div class="modal-body">

                        {{ form.hidden_tag() if form.hidden_tag }}
                        <div class="form-group">
                            <label class="control-label">优先级</label>
                            <select class="form-control" name="type">
                                <option value="1">普通</option>
                                <option value="5">优先</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">计划名</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="请输入1~30个字符"
                                   required>
                            <!-- /input-group -->
                        </div>
                        <div class="form-group">
                            <label for="p_all">计划长度</label>
                            <input type="text" class="form-control" name="p_all" id="p_all"
                                   placeholder="请输入100~3000之内的数字" required>
                        </div>
                        <div class="form-group">
                            <label for="p_day">天数</label>
                            <input type="text" class="form-control" name="p_day" id="p_day" placeholder="请输入7~999之间的数字"
                                   required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal） 记录计划 -->
    <div class="modal fade" id="modal_project_record" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        记录计划
                    </h4>
                </div>
                <form id="form_project_record" action="/project/record" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="proid" name="proid">

                        <div class="form-group">
                            <label for="name">完成数</label>
                            <input type="text" class="form-control" name="record" id="record" placeholder="请输入完成度"
                                   required>
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <script>
        $(document).ready(function () {
            $('#form_project_add').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    name: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '计划名不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 30,
                                message: '计划名必须在1到30个字符之内'
                            }
                        }
                    },
                    p_all: {
                        validators: {
                            notEmpty: {
                                message: '计划长度不能为空'
                            },
                            lessThan: {
                                value: 3000,
                                inclusive: true,
                                message: '长度不能大于3000'
                            },
                            greaterThan: {
                                value: 100,
                                inclusive: true,
                                message: '长度不能小于100'
                            }
                        }
                    },
                    p_day: {
                        validators: {
                            notEmpty: {
                                message: '计划天数不能为空'
                            },
                            lessThan: {
                                value: 999,
                                inclusive: true,
                                message: '天数不能大于999'
                            },
                            greaterThan: {
                                value: 7,
                                inclusive: true,
                                message: '天数不能小于7'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');

                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function (result) {
                    if (result.result > 0) {
                        $.globalMessenger().post("新增成功!");
                        $('#form_project_add').data('bootstrapValidator').resetForm(true);
                        $('#modal_project_add').modal('hide')
                    }
                }, 'json');
            });
        });


    </script>


{% endblock %}

{% block jscontent %}

    <script>
        $(".begin").confirm({
            text: "你确定要激活计划",
            title: "激活?",
            confirm: function (button) {
                tr = button.parent().parent();
                proid = button.attr("proid");
                $.ajax({
                    type: 'post',
                    contentType: "application/json; charset=UTF-8",
                    url: '/project/begin',
                    dataType: 'json',
                    data: JSON.stringify({
                        'proid': proid,
                    }),
                    error: function (xhr, err) {
                        alert('请求失败，原因可能是：' + err + '！')
                    },
                    success: function (data, textStatus) {
                        if (data.result > 0) {
                            tr.remove();
                            $.globalMessenger().post("激活成功!");
                        }
                    }
                });
            },
            cancel: function (button) {
                // nothing to do
            },
            confirmButton: "Yes I am",
            cancelButton: "No",
            post: true,
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-default",
            dialogClass: "modal-dialog modal-xs" // Bootstrap classes for large modal
        });

        $('#modal_project_record').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var proid = button.data('proid'); // Extract info from data-* attributes
            var remain = button.data('remain');
            var modal = $(this);
            modal.find('.modal-body #proid').val(proid);//添加计划id到隐藏域
            $('#form_project_record').bootstrapValidator('addField', 'record', {//动态添加验证
                message: '请填写正确的完成数',
                validators: {
                    notEmpty: {
                        message: '完成数不能为空'
                    },
                    lessThan: {
                        value: remain,
                        inclusive: true,
                        message: '完成数不能大于' + remain
                    },
                    greaterThan: {
                        value: 1,
                        inclusive: true,
                        message: '完成数不能小于1'
                    }
                }
            });
        })

        $('#form_project_record').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {}
        }).on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            var record = $("#record").val();
            var proid = $("#proid").val();
            $.ajax({
                type: 'post',
                contentType: "application/json; charset=UTF-8",
                url: $form.attr('action'),
                dataType: 'json',
                data: JSON.stringify({
                    'proid': proid,
                    'record': record
                }),
                error: function (xhr, err) {
                    alert('请求失败，原因可能是：' + err + '！')
                },
                success: function (data, textStatus) {
                    if (data.result > 0) {
                        $.globalMessenger().post("记录成功!");
                        $('#modal_project_record').modal('hide');
                        $('#form_project_record').data('bootstrapValidator').resetForm(true);
                        $('#contactForm').bootstrapValidator('removeField', 'record');
                    }
                }
            });
        });
    </script>
    <script>
        function ajaxdata() {
            $.ajax({
                type: 'post',
                contentType: "application/json; charset=UTF-8",
                url: '/project/p/data',
                dataType: 'json',
                data: JSON.stringify({
                    'ptype': "{{ ptype }}"
                }),
                error: function (xhr, err) {
                    alert('请求失败，原因可能是：' + err + '！')
                },
                success: function (data, textStatus) {
                    var json = $.parseJSON(data.result);
                    console.log(json);
                    $.each(json, function () {
                        tr = $("#table_template_project tr").clone();
                        tr.find('.cell-type').text(this.type);
                        tr.find('.cell-name').text(this.name);
                        tr.find('.cell-progress .ppass').css("width",this.p_percent+"%");
                        tr.find('.cell-time').text(this.start_time+" / "+this.end_time);
                        tr.find('.cell-text-progress').text(this.p_now+" / "+this.p_all);
                        tr.find('.cell-remain-days').text(this.remain_days);
                        if(this.status==1){
                            btn = $("#template_button .record").clone();
                            btn.attr("data-proid",this.id);
                            tr.find('.cell-button').append(btn);
                        }
                        $("#table_project").append(tr);
                    });

                }
            });
        }
    </script>


    <table style="display: none">
        <div id="template_button">

            <button type="button" class="btn btn-default btn-xs begin" proid="">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 激活
            </button>


            <button type="button" class="btn btn-default btn-xs record" data-toggle="modal"
                    data-target="#modal_project_record" data-proid="" data-remain="">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 记录
            </button>

        </div>
        <tbody id="table_template_project">
        <tr>
            <td class="cell-type"></td>
            <td class="cell-name"></td>
            <td class="cell-progress">
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-danger ppass"></div>
                    <div class="progress-bar progress-bar-danger ptoday"></div>
                </div>
            </td>
            <td class="cell-text-progress"></td>
            <td class="cell-time"></td>
            <td class="cell-remain-days"></td>
            <td class="cell-button">
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}