{% extends 'base.html' %}
{% block sidebar %}
    <li id="nav_todo" class="treeview">
        <a href="/todo/p">
            <span>待办事项</span>
        </a>
    </li>
    <li id="nav_p" class="treeview active">
        <a href="/project/p/progress">
            <span>我的计划</span></i>
        </a>
        <ul class="treeview-menu">
            <li id="nav_p_progress" {% if pstatus == 'progress' %}class="active"{% endif %}>
                <a href="/project/p/progress">进行中</a>
            </li>
            <li id="nav_p_start" {% if pstatus == 'start' %}class="active"{% endif %}><a href="/project/p/start">
                未激活</a></li>
            <li id="nav_p_end" {% if pstatus == 'end' %}class="active"{% endif %}><a href="/project/p/end"> 已完成</a></li>
        </ul>
    </li>
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            我的计划
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">我的计划</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div id="btn-group-type" class="btn-group .btn-group-sm" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" data-type="-1">全部</button>
                            <button type="button" class="btn btn-primary" data-type="0">计划</button>
                            <button type="button" class="btn btn-info" data-type="1">学习</button>
                            <button type="button" class="btn btn-success" data-type="2">阅读</button>
                            <button type="button" class="btn btn-warning" data-type="3">运动</button>
                        </div>

                        <div class="box-tools">
                            <button class="btn btn-sm btn-default" data-toggle="modal"
                                    data-target="#modal_project_add">
                                新增计划
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 5%">类型</th>
                                <th style="width: 22%">任务名</th>
                                <th style="width: 24%">进度条</th>
                                <th style="width: 10%">进度</th>
                                <th style="width: 20%">截至日期</th>
                                <th style="width: 7%">剩余天数</th>
                                <th style="width: 12%">操作</th>
                            </tr>
                            </thead>
                            <tbody id="table_project">

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- 模态框（Modal） 新增计划 -->
    <div class="modal fade" id="modal_project_add" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增计划
                    </h4>
                </div>
                <form id="form_project_add" action="/project/add" method="post">
                    <div class="modal-body">

                        {{ form.hidden_tag() if form.hidden_tag }}
                        <div class="form-group">
                            <label class="control-label">类型</label>
                            <select class="form-control" name="type">
                                <option value="0">计划</option>
                                <option value="1">学习</option>
                                <option value="2">阅读</option>
                                <option value="3">运动</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">计划名</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="请输入1~30个字符"
                                   required>
                            <!-- /input-group -->
                        </div>
                        <div class="form-group">
                            <label for="p_all">计划长度</label>
                            <input type="text" class="form-control" name="p_all" id="p_all"
                                   placeholder="请输入10~9999之内的数字" required>
                        </div>
                        <div class="form-group">
                            <label for="p_day">天数</label>
                            <input type="text" class="form-control" name="p_day" id="p_day" placeholder="请输入3~999之间的数字"
                                   required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal） 记录计划 -->
    <div class="modal fade" id="modal_project_record" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        记录计划
                    </h4>
                </div>
                <form id="form_project_record" action="/project/record" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="proid" name="proid">

                        <div class="form-group">
                            <label for="name">完成数</label>
                            <input type="text" class="form-control" name="record" id="record" placeholder="请输入完成度"
                                   required>
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

{% endblock %}

{% block jscontent %}

    <script>
        function ajaxDataProject(ptype) {
            if (ptype == null) {
                ptype = -1;
            }
            $.ajax({
                type: 'post',
                contentType: "application/json; charset=UTF-8",
                url: '/project/p/data',
                dataType: 'json',
                data: JSON.stringify({
                    'pstatus': "{{ pstatus }}",
                    'ptype': ptype
                }),
                error: function (xhr, err) {
                    alert('请求失败，原因可能是：' + err + '！')
                },
                success: function (data, textStatus) {
                    var json = $.parseJSON(data.result);
                    $("#table_project").empty();
                    $.each(json, function () {
                        var tr = $("#table_template_project tr").clone();
                        tr.find('.cell-name').text(this.name);
                        tr.find('.cell-progress .ppass').css("width", this.p_percent + "%");
                        tr.find('.cell-time').text(this.start_time + " / " + this.end_time);
                        tr.find('.cell-text-progress').text(this.p_now + " / " + this.p_all);
                        tr.find('.cell-remain-days').text(this.remain_days);
                        switch (this.type) {
                            case 0 :
                                tr.find('.cell-type').html("<span class=\"label label-primary\">计划</span>");
                                break;
                            case 1 :
                                tr.find('.cell-type').html("<span class=\"label label-info\">学习</span>");
                                break;
                            case 2 :
                                tr.find('.cell-type').html("<span class=\"label label-success\">阅读</span>");
                                break;
                            case 3 :
                                tr.find('.cell-type').html("<span class=\"label label-warning\">运动</span>");
                                break;
                        }
                        if (this.status == 1) {
                            btnRecord = $("#template_button .p-record").clone();
                            btnRecord.attr("data-proid", this.id);
                            btnRecord.attr("data-remain", (this.p_all - this.p_now));
                            tr.find('.cell-button').append(btnRecord);
                        }
                        if (this.status == 0) {
                            btnBegin = $("#template_button .p-begin").clone();
                            btnBegin.attr("proid", this.id);
                            tr.find('.cell-button').append(btnBegin);
                        }
                        if (this.status != 2) {
                            btnDelete = $("#template_button .p-delete").clone();
                            btnDelete.attr("proid", this.id);
                            tr.find('.cell-button').append(btnDelete);
                        }
                        $("#table_project").append(tr);
                    });
                    confirmAdd();
                }
            });
        }
    </script>


    <table style="display: none">
        <div id="template_button">

            <button type="button" class="btn btn-default btn-xs p-begin" proid="">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 激活
            </button>

            <button type="button" class="btn btn-default btn-xs p-record" data-toggle="modal"
                    data-target="#modal_project_record" data-proid="" data-remain="">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 记录
            </button>

            <button type="button" class="btn btn-default btn-xs p-delete" proid="">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
            </button>

        </div>
        <tbody id="table_template_project">
        <tr>
            <td class="cell-type"></td>
            <td class="cell-name"></td>
            <td class="cell-progress">
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-info ppass"></div>
                </div>
            </td>
            <td class="cell-text-progress"></td>
            <td class="cell-time"></td>
            <td class="cell-remain-days"></td>
            <td class="cell-button">
            </td>
        </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            ajaxDataProject();
            typeChangeAdd();
        });
        function typeChangeAdd() {
            $("#btn-group-type .btn").click(function () {
                $("#btn-group-type .btn").removeClass("active");
                $(this).addClass("active");
                ajaxDataProject($(this).attr("data-type"));
            });
        }
    </script>
    <script src="{{ url_for('.static', filename = 'assets/js/project.js') }}"></script>
{% endblock %}