{% extends 'base.html' %}
{% block sidebar %}
    <li id="nav_todo" class="treeview active">
        <a href="/todo/p">
            <span>待办事项</span>
        </a>
    </li>
    <li id="nav_p" class="treeview">
        <a href="/project/p/progress">
            <span>我的计划</span></i>
        </a>
        <ul class="treeview-menu">
            <li id="nav_p_progress">
                <a href="/project/p/progress">进行中</a>
            </li>
            <li id="nav_p_start"><a href="/project/p/start"> 未激活</a></li>
            <li id="nav_p_end"><a href="/project/p/end"> 已完成</a></li>
        </ul>
    </li>
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            待办事项
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">待办事项</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">待办事项</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-xs btn-info" onclick="ajaxDataTodo()">今天</button>
                    <button class="btn btn-xs" onclick="lastDay()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                    <label id="todo-date"></label>

                    <button class="btn btn-xs" onclick="nextDay()">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="todo-list" id="todo-list">
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <button class="btn btn-default pull-right" data-toggle="modal"
                        data-target="#modal_todo_add"> 新增任务
                </button>
            </div>
        </div>
        <!-- /.box -->
    </section>


    <!-- 模态框（Modal） 记录计划 -->
    <div class="modal fade" id="modal_todo_add" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        记录计划
                    </h4>
                </div>
                <form id="form_todo_add" action="/todo/add" method="post">
                    <div class="modal-body">
                        {{ form.hidden_tag() if form.hidden_tag }}
                        <input type="hidden" id="t_date" name="t_date">

                        <div class="form-group">
                            <label for="name">任务名</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="请输入任务名">
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <div style="display: none">
        <ul id="ul_template_todo">
            <li class="cell-main">
                <!-- checkbox -->
                <input class="cell-checkbox" type="checkbox" value="">
                <!-- todo text -->
                <span class="text cell-name"></span>
                <!-- General tools such as edit or delete-->
                <div class="tools">
                    <span class="glyphicon glyphicon-remove cell-delete" data-id="" aria-hidden="true"></span>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}
{% block jscontent %}
    <link href="{{ url_for('.static', filename = 'assets/css/todo.css') }}" rel="stylesheet">
    <script src="{{ url_for('.static', filename = 'assets/js/todo.js') }}"></script>
    <script>
        $(document).ready(function () {
            ajaxDataTodo();
            addFuntion();
        });
    </script>
{% endblock %}