{% extends 'base.html' %}
{% block sidebar %}
    <li class="treeview">
        <a href="/">
            <span>工作面部</span>
        </a>
    </li>
    <li class="treeview active">
        <a href="/todo/p">
            <span>待办事项</span>
        </a>
    </li>
    <li class="treeview">
        <a href="/project/p/progress">
            <i class="fa fa-dashboard"></i> <span>我的计划</span></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="/project/p/progress">进行中</a></li>
            <li><a href="/project/p/start"> 未激活</a></li>
            <li><a href="/project/p/end"> 已完成</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="/project" target="content">
            <span>Project</span>
            <span class="label label-primary pull-right">4</span>
        </a>
    </li>
{% endblock %}
{% block content %}
<div class="todo-main">
<div class="todo-tool"></div>
</div>

{% endblock %}
{% block jscontent %}
    <link href="{{ url_for('.static', filename = 'assets/css/todo.css') }}" rel="stylesheet">
    <script src="{{ url_for('.static', filename = 'assets/js/todo.js') }}"></script>
{% endblock %}