{% extends 'base.html' %}
{% block sidebar %}
    <li class="treeview">
        <a href="/">
            <span>工作面部</span>
        </a>
    </li>
    <li class="treeview active">
        <a href="/todo/p">
            <span>待办事项</span>
        </a>
    </li>
    <li class="treeview">
        <a href="/project/p/progress">
            <i class="fa fa-dashboard"></i> <span>我的计划</span></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="/project/p/progress">进行中</a></li>
            <li><a href="/project/p/start"> 未激活</a></li>
            <li><a href="/project/p/end"> 已完成</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="/project" target="content">
            <span>Project</span>
            <span class="label label-primary pull-right">4</span>
        </a>
    </li>
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            我的计划
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">代办事项</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>

                <h3 class="box-title">To Do List</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-xs btn-info">今天</button>
                    <button class="btn btn-xs" onclick="lastDay()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                    <label id="todo-date">2018-18-18</label>

                    <button class="btn btn-xs" onclick="nextDay()">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="todo-list">
                    <li>
                        <!-- checkbox -->
                        <input type="checkbox" value="">
                        <!-- todo text -->
                        <span class="text">Design a nice theme</span>
                        <!-- General tools such as edit or delete-->
                        <div class="tools">
                            {#                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" onclick="dosome()"></span>#}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="doDelete()"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
            </div>
        </div>
        <!-- /.box -->
    </section>


    <!-- 模态框（Modal） 记录计划 -->
    <div class="modal fade" id="modal_project_add" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        记录计划
                    </h4>
                </div>
                <form id="form_todo_add" action="/todo/add" method="post">
                    <div class="modal-body">
                        {{ form.hidden_tag() if form.hidden_tag }}
                        <input type="hidden" id="t_date" name="t_date">
                        <div class="form-group">
                            <label for="name">任务名</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="请输入任务名">
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <div style="display: none">
        <ul id="table_template_project">
            <li>
                <!-- checkbox -->
                <input type="checkbox" value="">
                <!-- todo text -->
                <span class="text">Design a nice theme</span>
                <!-- General tools such as edit or delete-->
                <div class="tools">
                    {#                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" onclick="dosome()"></span>#}
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="doDelete()"></span>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}
{% block jscontent %}
    <link href="{{ url_for('.static', filename = 'assets/css/todo.css') }}" rel="stylesheet">
    <script src="{{ url_for('.static', filename = 'assets/js/todo.js') }}"></script>
    <script>

    </script>
    <script>
        function addCheckBox() {
            $('input').on('change', function () {
                var ele = $(this).parents("li").first();
                ele.toggleClass("done");
                id = ele.find();
                if ($('input', ele).is(":checked")) {
                    console.log($(this).val());
                } else {
                    alert("ex")
                }
            });
        }
        function doDelete() {
            var m = moment();
            console.log(m.format("YYYY-MM-DD"));
        }
        function nextDay() {
            var date = $("#todo-date").text();
            day = moment(date);
            day.add(1, 'd');
            ajaxDataTodo(day.format("YYYY-MM-DD"));
        }
        function lastDay() {
            var date = $("#todo-date").text();
            day = moment(date);
            day.add(-1, 'd');
            ajaxDataTodo(day.format("YYYY-MM-DD"));
        }
        function ajaxDataTodo(t_date) {
            if (t_date == null) {
                t_date = moment().format("YYYY-MM-DD");
            }
            $("#todo-date").text(t_date);
            $.ajax({
                type: 'post',
                contentType: "application/json; charset=UTF-8",
                url: '/todo/p/data',
                dataType: 'json',
                data: JSON.stringify({
                    't_date': t_date
                }),
                error: function (xhr, err) {
                    alert('请求失败，原因可能是：' + err + '！')
                },
                success: function (data, textStatus) {
                    var json = $.parseJSON(data.result);
                    console.log(json);
                    {#                                $("#table_project").empty();#}
                    {#                                $.each(json, function () {#}
                    {#                                    tr = $("#table_template_project tr").clone();#}
                    {#                                    tr.find('.cell-type').text(this.type);#}
                    {#                                    tr.find('.cell-name').text(this.name);#}
                    {#                                    tr.find('.cell-progress .ppass').css("width", this.p_percent + "%");#}
                    {#                                    tr.find('.cell-time').text(this.start_time + " / " + this.end_time);#}
                    {#                                    tr.find('.cell-text-progress').text(this.p_now + " / " + this.p_all);#}
                    {#                                    tr.find('.cell-remain-days').text(this.remain_days);#}
                    {#                                    if (this.status == 1) {#}
                    {#                                        btnRecord = $("#template_button .p-record").clone();#}
                    {#                                        btnRecord.attr("data-proid", this.id);#}
                    {#                                        btnRecord.attr("data-remain", (this.p_all - this.p_now));#}
                    {#                                        tr.find('.cell-button').append(btnRecord);#}
                    {#                                    }#}
                    {#                                    if (this.status == 0) {#}
                    {#                                        btnBegin = $("#template_button .p-begin").clone();#}
                    {#                                        btnBegin.attr("proid", this.id);#}
                    {#                                        tr.find('.cell-button').append(btnBegin);#}
                    {#                                    }#}
                    {#                                    if (this.status != 2) {#}
                    {#                                        btnDelete = $("#template_button .p-delete").clone();#}
                    {#                                        btnDelete.attr("proid", this.id);#}
                    {#                                        tr.find('.cell-button').append(btnDelete);#}
                    {#                                    }#}
                    {#                                    $("#table_project").append(tr);#}
                    {#                                });#}
                    {#                                confirmAdd();#}
                }
            });
        }

        $(document).ready(function () {
            ajaxDataTodo();
            addCheckBox();
        });
    </script>
{% endblock %}