/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	GENERAL
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html, body {
    height: 100%; /*设置html和body的width和height为100%，可使全屏生效*/
    width: 100%;
    font-size: 16px;
    margin: 0px; /*设置上下左右的相对位置为0，可避免超出范围出现滚动条*/
}

body {
    white-space: nowrap; /*设置white-space:nowrap，同时在相对参照元素中线居中时设定display:inline-block，可避免浏览器缩放时，垂直居中的容器换行*/
    text-align: center; /*设置text-align: center，可使子容器水平对齐*/
    background: url(images/index_bg.jpg);
}

.index-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.index-panel {
    position: absolute;
    left: 10em;
    top: 10em;
    width: 30em;
    height: 30%;
    padding: 30px;
    background: rgba(8, 25, 45, 0.5);
}

.login-title {
    margin: 10px;
    width: 100%;
    height: 30%;
}

.login-container {
    width: 100%;
    height: 30%;
}

.form-signin {
    width: 100%;
    height: 90%;
}

.form-input {
    height: 1em;;
    width: 100%;
    margin-bottom: 30px;
}

.btn{
    margin-left: 5px;
    float: right;
}
.checkbox{
    color: #ffffff;
    float: left;
}