html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #646557 url(../images/pattern.png) repeat fixed;
    color: #5D5D5D;
}

p {
    padding: 0 0 15px 0;
    line-height: 1.5em;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #43423F;
    margin: 0 0 10px 0;
    padding: 5px 0 5px 0;
}

h2 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #B60000;
    padding: 5px 0 5px 0;
}

h3 {
    font: normal 165% 'century gothic', arial, sans-serif;
}

.h3 {
    color: #099;
    font: 500 20px "Microsoft YaHei";
    margin: 0px;
}

h4, h5, h6 {
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #B60000;
}

h5, h6 {
    font: italic 95% arial, sans-serif;
    color: #888;
}

h6 {
    color: #362C20;
}

a, a:hover {
    background: transparent;
    outline: none;
    text-decoration: underline;
    color: #51A9FB;
}

a:hover {
    text-decoration: none;
    color: #5D5D5D;
}

ul {
    margin: 2px 0 22px 17px;
}

ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
}

ol {
    margin: 8px 0 22px 20px;
}

ol li {
    margin: 0 0 11px 0;
}

.left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 20px auto;
}

#main, #header, #logo, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
}

#main {
    width: 950px;
    margin: 20px auto;
}

#header {
    width: 950px;
    height: 121px;
}

#logo {
    width: 910px;
    position: relative;
    height: 100px;
    background: transparent;
    padding: 10px 0 10px 0;
}

#logo h1, #logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0 0 0 9px;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 0px 0 0 0;
    color: #A8AA94;
    letter-spacing: 0.1em;
    text-decoration: none;
}

#logo_text h1 a .logo_colour {
    color: #FFF;
}

#logo_text h2 {
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #A8AA94;
}

#menubar {
    height: 46px;
    width: 950px;
    margin: 1px auto 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

ul#menu {
    float: left;
    margin: 0;
    padding: 0;
}

ul#menu li {
    float: left;
    padding: 0 0 0 6px;
    list-style: none;
    margin: 0px 2px 0 0;
}

ul#menu li a {
    font: normal 100% 'trebuchet ms', sans-serif;
    display: block;
    float: left;
    height: 27px;
    padding: 12px 28px 5px 22px;
    text-align: center;
    color: #FFF;
    border-right: 1px solid #636363;
    text-decoration: none;
}

ul#menu li.tab_selected a {
    height: 27px;
    padding: 6px 28px 5px 22px;
}

ul#menu li.selected a, ul#menu li.selected a:hover {
    color: #ECEF01;
}

ul#menu li a:hover {
    color: #ECEF01;
}

#site_content {
    width: 925px;
    min-height: 390px;
    overflow: hidden;
    margin: 44px auto 0 auto;
    padding: 10px 0 0 25px;
    background: #EEE;
    border-top: 0;
    border-bottom: 0;
    color: #5D5D5D;
}

#sidebar_container {
    float: right;
    width: 224px;
    padding: 10px 20px 20px 0;
}

.sidebar {
    float: right;
    width: 222px;
    padding: 0;
    margin: 0 0 16px 0;
}

.sidebar_item {
    background: #FFF;
    padding: 10px 5px;
    width: 192px;
    margin: 10px 0 10px 0;
}

.img-link {
    position: relative;
    top: 2px;
    float: left;
    width: 10px;
    height: 10px;
    background: transparent url(../images/link.png) no-repeat left center;
    background-size: 10px 10px;
}

#content {
    text-align: left;
    width: 655px;
    padding: 15px 0 20px 0;
    margin: 0;
}

#footer {
    width: 950px;
    font: normal 90% 'trebuchet ms', arial, sans-serif;
    height: 65px;
    padding: 20px 0 5px 0;
    text-align: center;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}

#footer p {
    padding: 0 0 10px 0;
}

#footer a, #footer a:hover {
    color: #FFF;
    text-decoration: underline;
}

#footer a:hover {
    color: #FFF;
    text-decoration: none;
}

.search {
    color: #5D5D5D;
    border: 1px solid #BBB;
    width: 134px;
    padding: 4px;
    font: 100% arial, sans-serif;
}

.form_settings {
    margin: 15px 0 0 0;
}

.form_settings p {
    padding: 0 0 4px 0;
}

.form_settings span {
    float: left;
    width: 200px;
    text-align: left;
}

.form_settings input, .form_settings textarea {
    padding: 5px;
    width: 299px;
    font: 100% arial;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
}

.form_settings .submit {
    font: 100% arial;
    border: 1px solid;
    width: 99px;
    margin: 0 0 0 212px;
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #3B3B3B;
    color: #FFF;
}

.form_settings textarea, .form_settings select {
    font: 100% arial;
    width: 299px;
}

.form_settings select {
    width: 310px;
}

.form_settings .checkbox {
    margin: 4px 0;
    padding: 0;
    width: 14px;
    border: 0;
    background: none;
}

.separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}

table {
    margin: 10px 0 30px 0;
}

table tr th, table tr td {
    background: #3B3B3B;
    color: #FFF;
    padding: 7px 4px;
    text-align: left;
}

table tr td {
    background: #DDD;
    color: #47433F;
    border-top: 1px solid #FFF;
}

form p button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 4px 5px;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font: 11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.post-list {
    margin: 5px 0 0 0;
    position: relative;
    height: 380px;
}

.lists {
    margin: 0;
    font-size: 16px;
}

.lists li {
    list-style: none;
    margin: 20px 0;
}

.lists li time {
    margin-right: 5px;
}

.lists li a {
    font-weight: 500;
    text-decoration: none;
}

.paginator {
    position: absolute;
    bottom: 5px;

}

.paginator a, .paginator span {
    padding: 0 4px;
    margin: 2px;
    text-decoration: none;
}

.paginator .current-page {
    color: white;
    background: #ff0000;
}

.paginator a:hover {
    color: white;
    background: #83BF73;
}

.post-title {
    margin-top: 10px;
    margin-bottom: 30px;
}

.label-time {
    margin-right: 20px;
}

.tag {
    margin: 0 5px;
}

.tags-box-title {
    color: #099;
    font: 500 20px "Microsoft YaHei";
    margin: 0px;
}

.tags-box {
    margin: 20px 0;
}

.tags-box a {
    color: #555555;
    float: left;
    margin: 10px 20px;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 17px;
}

.tags-box a:hover {
    color: #EE1600;
}

.tag-list a {
    display: inline-block;
    color: #999;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 5px 0 0;
}

.tag-list a:hover {
    color: #EE1600;
}

.toc ul {
    margin: 0 0 5px 10px;
    list-style-type: none;
}

.toc ul li {
    list-style: none;
    display: list-item;
    margin: 7px 0;
}

.toc a {
    text-decoration: none;
}

.album-list {
    width: 630px;
}

.album-item {
    width: 280px;
    height: 200px;
    margin: 10px;
    float: left;
}

.album-item img {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 90%;
    max-width: 90%;
}