<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeWatch</title>
    <link rel="shortcut icon" href="{{ url_for('.static', filename = 'assets/images/siteicon.png') }}"/>
    <link href="{{ url_for('.static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'assets/css/admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'css/bootstrapValidator.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'css/messenger.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'css/messenger-theme-ice.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('.static', filename = 'js/jquery-1.11.3.min.js') }}"></script>
    {% block style_content %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top main-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Time Watch</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="container" class="fixed-header">
    <div id="sidebar" class="sidebar-fixed">
        <div id="sidebar_content">

            <ul id="nav">
                <li id="nav_dashboard">
                    <a href="/admin/dashboard">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        概览
                    </a>
                </li>
                <li id="nav_todo">
                    <a href="/admin/todo">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        待办
                    </a>
                </li>
                <li id="nav_plan">
                    <a href="/admin/plan/status/progress">
                        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                        计划
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        博客文章
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                        图片
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="content">
        {% block main_content %}
        {% endblock %}
    </div>

</div>

<script src="{{ url_for('.static', filename = 'js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/bootstrapValidator.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/language/zh_CN.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/messenger.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/messenger-theme-future.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/jquery.confirm.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/moment.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/dataTables.bootstrap.min.js') }}"></script>
<script>
    $(function () {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-left',
            theme: 'ice'
        };
    });
    $(function () {
        $('[data-toggle="popover"]').popover()
    });

</script>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>
                $(document).ready(function () {
                    $.globalMessenger().post({
                        message: '{{ message }}',
                        type: 'info',
                        showCloseButton: true
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
{% block javascript_cotent %}
{% endblock %}
</body>
</html>