{% extends 'admin/base.html' %}

{% block main_content %}
    <script>
        $(document).ready(function () {
            $("#nav_dashboard").addClass("current");
        });
    </script>
    <div class="container">
        <div class="crumbs">
            <ol class="breadcrumb">
                <li>主页</li>
                <li class="active">计划</li>
            </ol>
        </div>

        <div class="page-header">
            <div class="page-title">
                <h3>
                    控制台
                </h3>
              <span>
                早上好, Zovven!
              </span>
            </div>
            <ul class="page-stats">
                <li>
                    <div class="summary">
                        <span>未完成事项</span>

                        <h3>
                            2
                        </h3>
                    </div>
                </li>
                <li>
                    <div class="summary">
                        <span>进行中计划</span>

                        <h3>
                            11
                        </h3>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row row-bg">
            <div class="col-sm-6 col-md-3">
                <div class="statbox widget box box-shadow">
                    <div class="widget-content">
                        <div class="visual cyan">
                            <div class="statbox-sparkline">
                                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="title">
                            本月完成Todo用时
                        </div>
                        <div class="value">
                            4 501
                        </div>
                        <a class="more" href="javascript:void(0);">
                            查看更多
                            <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="statbox widget box box-shadow">
                    <div class="widget-content">
                        <div class="visual green">
                            <div class="statbox-sparkline">
                                <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="title">
                            本月已完成计划
                        </div>
                        <div class="value">
                            714
                        </div>
                        <a class="more" href="javascript:void(0);">
                            查看更多
                            <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 hidden-xs">
                <div class="statbox widget box box-shadow">
                    <div class="widget-content">
                        <div class="visual yellow">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        </div>
                        <div class="title">
                            总博客文章数
                        </div>
                        <div class="value">
                            $42,512.61
                        </div>
                        <a class="more" href="javascript:void(0);">
                            查看更多
                            <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 hidden-xs">
                <div class="statbox widget box box-shadow">
                    <div class="widget-content">
                        <div class="visual red">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        </div>
                        <div class="title">
                            总图片数
                        </div>
                        <div class="value">
                            0
                        </div>
                        <a class="more" href="javascript:void(0);">
                            查看更多
                            <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4>
                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>Todo
                        </h4>

                        <div class="toolbar no-padding">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-5">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-header">
                                        <span class="badge">{{ todos|length }}</span>
                                        今日待办事项
                                    </li>
                                    {% for todo in todos %}
                                        <li class="list-group-item">
                                            <span class="label {{ type_style[todo.todo_type] }}">
                                                {{ type_dict[todo.todo_type] }}
                                            </span>{{ todo.todo_desc }}
                                        </li>
                                    {% endfor %}

                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-header">
                                        <span class="badge">{{ completeds|length }}</span>
                                        今日已经完成待办事项
                                    </li>
                                    {% for completed in completeds %}
                                        <li class="list-group-item">
                                            <span class="label {{ type_style[completed.todo_type] }}">
                                                {{ type_dict[completed.todo_type] }}
                                            </span>{{ completed.todo_desc }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-7">
                                <div id="todo_wrap" style="height:350px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4>
                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>Todo
                        </h4>

                        <div class="toolbar no-padding">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="plan_chart" style="height:400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript_cotent %}
    <script src="{{ url_for('.static', filename = 'js/echarts-all.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'assets/js/charts.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'assets/js/dashboard.js') }}"></script>

    <script>

        plan_option = {
            title: {
                text: '本周计划完成情况',
                subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['Java', 'Spring', 'Redis']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周日', '周二', '周三', '周四', '周五', '周六', '周一']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} Point'
                    }
                }
            ],
            series: [
                {
                    name: 'Java',
                    type: 'line',
                    data: [11, 11, 15, 13, 12, 13],
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                },
                {
                    name: 'Spring',
                    type: 'line',
                    data: [1, -2, 2, 5, 3, 2],
                    markPoint: {
                        data: [
                            {name: '周最低', value: -2, xAxis: 1, yAxis: -1.5}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        var plan_chart = echarts.init(document.getElementById('plan_chart'));
        plan_chart.setOption(plan_option);
    </script>
{% endblock %}}