{% extends 'admin/base.html' %}
{% block style_content %}
    <link href="{{ url_for('.static', filename = 'css/ion.rangeSlider.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'css/ion.rangeSlider.skinModern.css') }}" rel="stylesheet">
{% endblock %}
{% block main_content %}
    <script>
        $(document).ready(function () {
            $("#nav_plan").addClass("current");
            var btn_status = $('#status_{{ plan_status }}');
            console.log(btn_status);
            btn_status.removeClass("btn-default");
            btn_status.addClass("btn-primary");
        });
    </script>
    <div class="container">
        <div class="crumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div class="widget box">
            <div class="widget-header">
                <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>Todo</h4>
            </div>
            <div class="widget-content">
                <div class="table-header">
                    <div class="left-tool">
                        <div class="type-select">
                            <select id="typeSelect" class="form-control">
                                <option value="">全部</option>
                                <option value="学习">学习</option>
                                <option value="阅读">阅读</option>
                                <option value="项目">项目</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <a href="/admin/plan/status/progress" id="status_progress" class="btn btn-default">进行中</a>
                        <a href="/admin/plan/status/create" id="status_create" class="btn btn-default">未开始</a>
                        <a href="/admin/plan/status/finish" id="status_finish" class="btn btn-default">已完成</a>
                    </div>
                    <div class="right-tool">
                        <button class="btn btn-default" data-toggle="modal" data-target="#modal_plan_add">
                            新建计划
                        </button>
                    </div>
                </div>
                <table id="dataTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 15%;">类型</th>
                        <th style="width: 15%;">计划名</th>
                        <th style="width: 20%;">进度条</th>
                        <th style="width: 15%;">进度</th>
                        <th>剩余天数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for plan in plans %}
                        <tr>
                            <td>{{ type_dict.get(plan.plan_type) }}</td>
                            <td>{{ plan.plan_name }}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{ plan.plan_percent }}%;">
                                        {{ plan.plan_percent }}%
                                    </div>
                                </div>
                            </td>
                            <td>{{ plan.plan_point }} / {{ plan.plan_total }}</td>
                            <td>{{ plan.plan_remain_day }}</td>
                            <td>
                                {% if plan.plan_status == 1 %}
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                            data-target="#modal_plan_record" data-id="{{ plan.id }}"
                                            data-point="{{ plan.plan_point }}" data-total="{{ plan.plan_total }}"
                                            data-remain="{{ plan.plan_total - plan.plan_point }}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        记录
                                    </button>
                                {% endif %}
                                {% if plan.plan_status == 0 %}
                                    <button type="button" class="btn btn-default btn-xs plan_activation"
                                            data-id="{{ plan.id }}" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        激活
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-default btn-xs plan_delete" data-id="{{ plan.id }}"
                                        aria-label="Left Align">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    删除
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） 新增计划 -->
    <div class="modal fade" id="modal_plan_add" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增计划
                    </h4>
                </div>
                <form id="form_plan_add" action="/admin/plan/add" method="post">
                    <div class="modal-body">

                        {{ add_form.hidden_tag() if add_form.hidden_tag }}
                        <div class="form-group">
                            <label class="control-label">类型</label>
                            <select class="form-control" name="plan_type">
                                <option value="">-请选择类型-</option>
                                <option value="0">学习</option>
                                <option value="1">阅读</option>
                                <option value="2">工程</option>
                                <option value="3">其他</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="plan_name">计划名</label>
                            <input type="text" class="form-control" name="plan_name" id="plan_name"
                                   placeholder="请输入1~30个字符"
                                   required>
                            <!-- /input-group -->
                        </div>
                        <div class="form-group">
                            <label for="plan_total">计划长度</label>
                            <input type="text" class="form-control" name="plan_total" id="plan_total"
                                   placeholder="请输入10~9999之内的数字" required>
                        </div>
                        <div class="form-group">
                            <label for="plan_day">天数</label>
                            <input type="text" class="form-control" name="plan_day" id="plan_day"
                                   placeholder="请输入3~999之间的数字"
                                   required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal） 新增计划 结束 -->

    <!-- 模态框（Modal） 记录计划 -->
    <div class="modal fade" id="modal_plan_record" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        记录完成情况
                    </h4>
                </div>
                <form id="form_plan_record" action="/admin/plan/record" method="post">
                    <div class="modal-body">
                        {{ record_form.hidden_tag() if record_form.hidden_tag }}
                        <input type="hidden" id="plan_id" name="plan_id">

                        <div class="form-group">
                            <label for="record_point">完成点数</label>
                            <input type="text" class="form-control" name="record_point" id="record_point"
                                   placeholder="请输入完成点数">
                            <br>
                            <input type="text" class="form-control" id="recordSlider">
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal） 记录计划 结束 -->
{% endblock %}
{% block javascript_cotent %}
    <script src="{{ url_for('.static', filename = 'js/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'assets/js/plan.js') }}"></script>
{% endblock %}