{% extends 'admin/base.html' %}
{% block main_content %}
    <script>
        $(document).ready(function () {
            $("#nav_todo").addClass("current");
        });
    </script>

    <div class="container">
        <div class="crumbs">
            <ol class="breadcrumb">
                <li>主页</li>
                <li class="active">待办</li>
            </ol>
        </div>
        <div class="todo-tool-bar">
            <label id="date_label" class="date_label" data-type="1"></label>

            <div class="date-wrapper">
                <span class="glyphicon glyphicon-menu-left" id="date_pre"></span>
                <span class="glyphicon glyphicon-menu-right" id="date_next"></span>
            </div>
            <div class="date-btn">
                <button id="btn_today" class="btn btn-default btn-sm btn-primary">今天</button>
                <div id="btn_date_type" class="btn-group" role="group">
                    <button type="button" id="type_day" class="btn btn-default btn-sm btn-primary" data-type="1">日
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-type="2">周</button>
                    <button type="button" class="btn btn-default btn-sm" data-type="3">月</button>
                </div>
            </div>
            <div class="todo-tool-right pull-right">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_todo_add">
                    <span class="glyphicon glyphicon-plus"></span>
                    新建
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4>
                            Todo
                        </h4>

                        <div class="toolbar no-padding">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="todo-list">
                            <ul id="todo_none">
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4>
                            Completed
                        </h4>

                        <div class="toolbar no-padding">
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="todo-list">
                            <ul id="todo_completed">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 模态框（Modal） 新增待办 -->
    <div class="modal fade" id="modal_todo_add" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        新增计划
                    </h4>
                </div>
                <form id="form_todo_add" action="/admin/todo/add" method="post">
                    <div class="modal-body">
                        {{ add_form.hidden_tag() if add_form.hidden_tag }}
                        <div class="form-group">
                            <label class="control-label">类型</label>
                            <select class="form-control" name="todo_type">
                                <option value="">-请选择类型-</option>
                                <option value="3">普通</option>
                                <option value="2">优先</option>
                                <option value="1">紧急</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="todo_desc">待办描述</label>
                            <input type="text" class="form-control" name="todo_desc" id="todo_desc"
                                   placeholder="请输入1~30个字符">
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal） 新增计划 结束 -->

    <!-- 模态框（Modal） 完成待办 -->
    <div class="modal fade" id="modal_todo_complete" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        确认完成
                    </h4>
                </div>
                <form id="form_todo_complete" action="/admin/todo/complete" method="post">
                    <div class="modal-body">
                        {{ complete_form.hidden_tag() if complete_form.hidden_tag }}
                        <input id="todo_id" name="todo_id" type="hidden">

                        <div class="form-group">
                            <label for="todo_time">完成耗时</label>
                            <input type="text" class="form-control" name="todo_time" id="todo_time"
                                   placeholder="单位为分钟">
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal） 新增计划 结束 -->

    <script src="{{ url_for('.static', filename = 'assets/js/todo.js') }}"></script>

{% endblock %}