<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('.static', filename = 'assets/images/siteicon.png') }}" />
    <link href="{{ url_for('.static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'assets/css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'css/bootstrapValidator.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'css/messenger.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'css/messenger-theme-ice.css') }}" rel="stylesheet">
    <script src="{{ url_for('.static', filename = 'js/jquery-1.11.3.min.js') }}"></script>
    <meta charset="UTF-8">
    <title>TimeWatcher</title>
</head>
<body>
<div class="wrapper">

    {#MAIN HEAD#}
    <div class="main-header">
        <!-- Logo -->
        <a href="" class="logo">
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Time</b>Watcher</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="/account/logout">退出</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                {% block sidebar %}
                {% endblock %}
            </ul>
        </section>
    </aside>
    <div id="content" class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="{{ url_for('.static', filename = 'js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/bootstrapValidator.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/language/zh_CN.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/messenger.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/messenger-theme-future.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/jquery.confirm.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/moment.min.js') }}"></script>
<script>
    $(function () {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'ice'
        };
    });
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
</script>
{% block jscontent %}
{% endblock %}
</body>
</html>