<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'assets/css/timescape.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename = 'js/jquery-1.11.3.min.js') }}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="wrapper">

    {#MAIN HEAD#}
    <div class="main-header">
        <!-- Logo -->
        <a href="project.html" class="logo">
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="#">bowen</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview">
                    <a href="#">
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/project" target="content">
                        <span>Project</span>
                        <span class="label label-primary pull-right">4</span>
                    </a>
                </li>
                <li>
                    <a href="pages/widgets.html">
                        <span>Widgets</span>
                        <small class="label pull-right bg-green">new</small>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div name="content" class="content-wrapper">
        <section class="content-header">
            <h1>
                我的计划
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">我的计划</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">我的计划</h3>

                            <div class="box-tools">
                                <button class="btn btn-default" data-toggle="modal"
                                        data-target="#addProject">
                                    开始演示模态框
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th style="width: 7%">优先级</th>
                                    <th style="width: 20%">任务名</th>
                                    <th style="width: 26%">进度条</th>
                                    <th style="width: 10%">进度</th>
                                    <th style="width: 20%">截至日期</th>
                                    <th style="width: 7%">剩余天数</th>
                                    <th style="width: 10%">操作</th>
                                </tr>
                                {% for project in projects %}
                                    <tr>
                                        <td>{{ project.type }}</td>
                                        <td>{{ project.content }}</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger"
                                                     style="width: {{ project.project_percent }}%"></div>
                                            </div>
                                        </td>
                                        <td>{{ project.project_now }} / {{ project.project_all }} </td>
                                        <td>{{ project.start_time }} / {{ project.end_time }} </td>
                                        <td>{{ project.remain_days }} </td>
                                        <td>Nothing</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>1.</td>
                                    <td>Update software</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                        </div>
                                    </td>
                                    {#                                    <td><span class="badge bg-red">55%</span></td>#}
                                    <td>100/500</td>
                                    <td>2015.6.9/2015.7.5</td>
                                    <td>20天</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="addProject" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                <form action="/addProject" method="post">
                    <div class="form-group">
                      <label for="exampleInputEmail1">任务名</label>
                      <input type="text" class="form-control" id="projectname" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Check me out
                      </label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
</body>
</html>