<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename = 'jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'style.js') }}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="time-main">
    <div class="time-header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/task">Task</a></li>
                        <li><a href="todo">Todo</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {% if current_user.is_authenticated() %}
                                    {{ current_user.nickname }}
                                {% endif %} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div class="time-container">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>